.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  input {
    margin: 5px 0;
    width: 100%;
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 0;
    background:rgb(85, 96, 146)
  }
  